<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfnxnpg4w1I_f9fz0P4KDgUoMBZJ535wU</string>
	<key>GCM_SENDER_ID</key>
	<string>1048321286035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.com.printopia</string>
	<key>PROJECT_ID</key>
	<string>printopia-ba007</string>
	<key>STORAGE_BUCKET</key>
	<string>printopia-ba007.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048321286035:ios:ce76dc69b98a1dc6655266</string>
</dict>
</plist>